* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --primaryColor: #c540ff;
    --secondaryColor: hsl(264, 100%, 61%);
    --tertiaryColor: #953bff;
    --quaternaryColor: hsl(271, 36%, 24%);
    --darkGrey: #565a5c;
    --lightGrey: hsl(270, 20%, 96%);
    --White: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

}

.phoneanddescription {
    display: grid;
}

.description {
    width: 80vh;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 3%;
}


.layout {
    display: flex;
    height: 100vh;
    background-color: var(--White);

}

.left-bg {
    position: absolute;
    width: 49vh;
    height: 85vh;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 150px;
    margin-left: -20px;
    background: linear-gradient(to bottom, var(--primaryColor), var(--tertiaryColor));
}

.right-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vh;
    height: 85vh;
    border-top-left-radius: 10rem;
    opacity: .2;
    background: linear-gradient(to bottom, var(--primaryColor), var(--tertiaryColor));
}


.phone {
    position: relative;
    top: 10%;
    left: 33vh;
    width: 45vh;
    height: 82vh;
    background-color: var(--White);
    border-radius: 30px;
    z-index: 2;
    box-shadow: 2px 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.phone::after {
    content: "";
    position: absolute;
    background-color: var(--White);
    width: 20vh;
    height: 5vh;
    left: 13vh;
    top: 0;
    border-radius: 15px;
    z-index: 1;
}

.phone::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 95%;
    background-color: #f5f3f8;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}



.left {
    padding: 10px;
    margin: 10px;
    border-radius: 10px 10px 5px 10px;
    clear: both;
    width: fit-content;
    background-color: #ede5f4;
    color: #a889c0;
    float: left;

}

.right {
    padding: 10px;
    margin: 10px;
    border-radius: 10px 10px 10px 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    clear: both;
    width: fit-content;
    background-color: var(--White);
    float: right;
}

.five {
    position: absolute;
    bottom: 20%;
    left: -10%;
    transform: scale(.7);
}

.four {
    position: absolute;
    bottom: 32%;
    left: 42%;
    transform: translateX(15%) scale(.7);
}

.three {
    position: absolute;
    bottom: 37%;
    width: 87%;
    height: 11%;
    left: 10%;
    transform: translateX(15%) scale(.6);
}

.two {
    position: absolute;
    bottom: 58%;
    width: 87%;
    height: 11%;
    right: 30%;
    transform: translateX(15%) scale(.7);
}

.one {
    position: absolute;
    bottom: 67%;
    width: 69%;
    height: 11%;
    right: 42%;
    transform: translateX(15%) scale(.7);
}



.contact {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 95%;
    height: 15%;
    margin: 10px auto;
    font-size: 1.5rem;
    color: white;
    border-radius: 30px 30px 5px 5px;
    background: linear-gradient(to left, var(--primaryColor), var(--tertiaryColor));

}

.go-back {
    position: absolute;
    top: 45px;
    left: 17px;
}



.contact h3 {
    position: absolute;
    top: 8%;
    left: 30%;
    font-size: 13px;
}

.contact h1 {
    position: absolute;
    top: 11%;
    left: 30%;
    opacity: .7;
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

.contact img {
    position: absolute;
    transform: scale(.15);
    bottom: 52.5vh;
    right: 33%;
    z-index: 1;
    /* display: flex; */
    border-radius: 50%;
    border: 5px solid white;
    outline: 5px solid white;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 9%;
    left: 90%;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: var(--White);
    /* Color of the dots */
    border-radius: 50%;
    margin: 2px;
    /* Adjust the spacing between dots as needed */
}


.photos {
    position: absolute;
    width: 11%;
    height: 11%;
    top: 40%;
    left: 36%;
    z-index: 1;
    display: flex;
}

.img-one,
.img-two,
.img-three {
    margin: 3px;
    border-radius: 15px;
}

.first {
    display: flex;
    justify-content: space-around;
    padding: 7px;
    margin: auto;
    width: 85%;
    border-radius: 9px 9px 9px 4px;
    position: absolute;
    bottom: 17%;
    left: 6%;
    color: white;
    background: linear-gradient(to right, rgb(230, 0, 255), var(--tertiaryColor));
}

.first::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 3%;
    border-radius: 50%;
    border: 1px solid white;
    outline: 1px solid white;
}

.second {
    display: flex;
    justify-content: space-around;
    padding: 7px;
    margin: auto;
    width: 85%;
    border-radius: 9px 9px 9px 4px;
    position: absolute;
    bottom: 10%;
    left: 6%;
    color: white;
    background: linear-gradient(to right, rgb(230, 0, 255), var(--tertiaryColor));
}

.second::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 3%;
    border-radius: 50%;
    border: 1px solid white;
    outline: 1px solid white;
}

input {
    position: absolute;
    bottom: 20px;
    left: 9%;
    width: 82%;
    height: 5.5%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 22px;
}

.send {
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 29px;
    left: 83%;
    background-color: black;
    fill: white;
    border-radius: 50%;
    Z-INDEX: 1;
    transform: rotatey(180deg) scale(2.2);

}

input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    /* Adjust the opacity by changing the alpha value (0.5 in this example) */
}

.description p {
    opacity: .5;
    margin-top: 10px;
    display: grid;
    gap: 15px;
    line-height: 1.8;
}

.attribution {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* Your existing CSS */

/* Add media queries for smaller screen sizes */
@media (max-width: 375px) {
    .layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        /* Stack elements vertically on smaller screens */
    }

    .right-bg {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 28vh;
        height: 55vh;

        opacity: 0.03;
        background: linear-gradient(to bottom, var(--primaryColor), var(--tertiaryColor));

    }

    .left-bg {
        position: absolute;
        width: 32vh;
        height: 62vh;
        left: 0;
        border-radius: 0px 0px 100% 0px;
        background: linear-gradient(to bottom, var(--primaryColor), var(--tertiaryColor));

    }

    .description p {

        line-height: 1.6;

    }


    .phone {
        position: absolute;
        top: -20%;
        left: 10%;
        transform: scale(0.6);
        width: 80%;
        height: 95%;
        margin: 30px auto;
        box-shadow: 01px 01px 30px 10px hsla(0, 0%, 0%, 0.125);


    }

    .phone::before {
        content: "";
        position: absolute;
        width: 95%;
        height: 95%;
        background-color: #f5f3f8;
        border-radius: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;
    }

    .left.message.one, .two {
        margin-bottom: 30px;
    }


    .img-one, .img-two, .img-three {

        margin: 3px;
        border-radius: 15px;

    }

    .img-two {
        margin: 3px;
        border-radius: 15px;

    }

    .img-three {

        margin: 3px;
        border-radius: 15px;
    }

    .contact {
        font-size: 2rem;
    }

    .contact img {
        transform: scale(0.12) translateY(-97vh);
    }

    .menu {
        left: 85%;
    }

    .photos {
        display: flex;
        justify-content: center;
    }

    .first, .second {
        align-items: center;
        margin-bottom: 3%;
        width: 65%;
        height: 35px;
        font-size: 0.8rem;
        padding-left: 5px;
    }

    input {
        width: 80%;
        margin: 2% auto;
    }

    .send {
        height: 10px;
        width: 10px;
        position: absolute;
        bottom: 37px;
        left: 81%;
        background-color: black;
        fill: white;
        border-radius: 50%;
        Z-INDEX: 1;
        transform: rotatey(180deg) scale(2.2);

    }

    .description {
        width: 47vh;
        display: grid;
        gap: 9px;

        position: absolute;
        left: 48%;
        top: 80%;
        transform: translate(-50%, -50%);
    }

    .attribution {
        display: none;
    }

    .three {

        position: absolute;
        bottom: 37%;
        width: 87%;
        height: 11%;
        left: 10%;
        transform: translateX(12%) scale(.6);


    }

    .right {
        border-radius: 10px 10px 3px 10px;
    }

    .five {
        position: absolute;
        bottom: 22%;
        left: -10%;
        transform: scale(.7);
    }
}